.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.perso-link {
  text-decoration: none;
  color: white;
}
.App-link {
  color: #61dafb;
}

.topic-check:checked ~ .topic-label {
  font-weight: bold;
  background-color: aquamarine;
}

#t_economy:checked ~ .topic-label {
  font-weight: bold;
  background-color: aquamarine;
}

textarea {
  resize: none;
}

.date-comment {
  color:lightslategray;
  font-size: 0.9em;
}

.topic-select {
  display: inline-block;
  margin-right: 1em;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
